.app {
    /* margin: auto; */
    /* width: 99%; */
    /* height: 100vh; */
    text-align: center;
}

body {
    background-color: #fff6f8;
}

.headline {
    /* background-color: black; */
    /* font-weight: bold; */
    position: relative;
    margin-top: 35px;
    /* margin-left: -140px; */
}

.grid-container {
    /* background-color: rgb(240, 240, 240); */
    display: grid;
    grid-template-columns: repeat(5, 160px) 161px;
    grid-auto-rows: 121px;
    grid-gap: 10px;
    float: left;
    margin-left: 100px;
    margin-top: -30px;
}

.grid-container > p {
    text-align: center;
}

p {
    font-size: medium;
}

.sort-name {
    position: relative;
    top: 90px;
}

.array-name {
    position: relative;
    top: 36px;
    left: 20px;
}

.controls {
    float: right;
    width: 135px;
    position: relative;
    /* margin-right: calc((1519px - 1101px - 135px) / 2); */
    /* margin-right: calc((100vw - 1101px) / 2 - (135px / 2)); */
    /* margin-right: calc(((100vw - 1101px) / 2) - (135px / 2)); */
    margin-right: calc((100vw - (1011px + 100px)) / 2 - 135px / 2);
    /* (1519-1101-135)/2 */
    margin-top: calc(140px + 126px);
}

.controls > * {
    margin: 0px 0px 35px 0px;
}

.buttons {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.play-button {
    margin-right: 20px;
    justify-self: left;
}

.reset-button {
    justify-self: right;
}

/* .play-reset-buttons {
    width: max-content;
} */

/* .play-reset-buttons > * {
    margin-right: 30px;
} */

/* @media (min-width: 1400px) {
    .controls {
        position: relative;
        top: 173px;
        left: -340px;
    }
} */
